// style expense form
.expense_form {
    .horizontal_dotted_line {
      display: flex;
      padding: 5px;
    }
    .horizontal_dotted_line::after {
        content: attr(data-content);
        // border-bottom: 1px dotted black !important;
    }
    .top_line {
        border-top: 1px solid black !important;
    }
}
