@font-face {
    font-family: 'Lato';
}
.invoice_preprint_form {
    body {
        font-size: 22px;
    }
    .date_box {
        position: fixed;
        margin-left:300px;
    }
    .footer_rjc_invoice {
        position: fixed;
        margin-bottom:300px;
    }
}
